<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.admin-mapper">
  <select id="AdmemberListData" resultType="MemberVO">
	SELECT login_id,name,sex,addr1,addr2,phone,grade
	FROM member
	WHERE isadmin!='Y'
	ORDER BY regdate DESC
	OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
  </select>
  <select id="AdmemberTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0)
    FROM member
  </select>
  <update id="memberGradeChange" parameterType="MemberVO">
    UPDATE member SET
    grade=#{grade}
    WHERE login_id=#{login_id}
  </update>
  <select id="adminRecentMemberList" resultType="MemberVO">
  	SELECT member_id,name,sex,addr1,addr2,email,phone,dbday
  	FROM (
  		SELECT member_id,name,sex,addr1,addr2,email,phone,TO_CHAR(regdate,'yyyy-mm-dd') AS dbday
	  	FROM member
	  	ORDER BY regdate DESC
  		)
  	WHERE ROWNUM &lt;=10
  </select>
  <select id="adminMemberCount" resultType="int">
  	SELECT COUNT(*)
  	FROM member
  </select>
  <select id="adminReservationCount" resultType="int">
  	SELECT COUNT(*)
  	FROM reservation
  </select>
</mapper>