<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">
<select id="mypageInfoData" resultType="MemberVO" parameterType="int">
	SELECT member_id,login_id,name,sex,email,addr1,addr2,content,phone,
		TO_CHAR(regdate,'yyyy-mm-dd') as dbday, grade, birthday
	FROM Member
	WHERE member_id=#{member_id}
</select>
<select id="mypageReserveCount" resultType="int" parameterType="int">
	SELECT COUNT(*) FROM reservation WHERE member_id=#{member_id}
</select>
</mapper>